
.image-label{
    font-size: 20px;
    font-weight: 500;

}

.image-tile{
    background-repeat: no-repeat;
    background-size: cover;
}

.image-tile-sm{
    height: 220px;
    width: 300px;
    min-height: 220px;
    min-width: 300px;
    max-height: 220px;
    max-width: 300px;
}