.nav-item {
    width: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.navbar-brand p{
    font-size: 18px;
}

.navbar .megamenu {
    padding: 1rem;
}

.end-width{
    width: 125px;
}

.nav-item.dropdown .dropdown-item:active {
    background-color: green !important;
}

.region-list p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}

@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0 !important;
        border: 0 !important;
    }

}

@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}